
.texto{
    height: 100%;
    color: white;
}
q{
  font-style: italic;
}
.experience{
  width: 100%;
  height: 90%;
  margin: auto;
  flex-wrap: wrap;
  background-color: rgb(231, 22, 22);
  display: flex;
 justify-content: space-around;
  border-radius: 5px;
  align-items: baseline;
  cursor: pointer;
  transition: 1s ease;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  animation: example 0.5s;
}

.edu p{
  text-align: justify;
 width: 100%;
}

@keyframes example {
  0% {opacity: 0}
  100% {opacity: 1}
}
