img{
    max-width: 30%;
    opacity: 0.8;

    border-radius: 3px;
    margin:auto;
  }

.card{
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 40%;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    bottom: 70%;
    left: 30%;
    align-items: center;  
    opacity: 1;
  
}

.texto{
    width: 100%;
    color: white;
}