.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(43, 205, 226);
    color: #d4d4d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  
  .title{
    font-size: 2rem;
    margin: auto;
    padding-left: 10%;
  }

  @media (min-width:320px) and (max-width: 425px) {
    .title{
     display: none;
    }
  }
  .user{
    font-size: 2rem;
    animation: exampl 2s 3 ease-in-out;
  }
  @keyframes exampl {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity:0}
  }
  .ham{
    color: rgb(235, 15, 198);
  }
  @media (min-width:767px){
    .ham{
      display: none;
    }
  }
